$headerColor: #533840;
$footerColor: #533840;
$mainColor1: #00a5b1;
$mainColor2: hsl(22, 67%, 51%);
$mainColor3: #e7ad6f;
$subColor1: #93d1d4;
$subColor2: #f7b756;
$subColor3: #f3d3b1;
$lastColor1: #7ebda1;
$lastColor2: #e66c53;
$lastColor3: #fde9c1;
$hightLightColor: #fcfcfc;
$lightColor: #fdfced;
$fontColor: #473d39;
$lineColor: #f7b756;
$fontColorWhite: #fcfcfc;

#app {
  background-color: $subColor1;
}
.top {
  overflow: hidden;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $subColor2;
}

@media (min-width: 600px) {
  .content {
    width: 100%;
    overflow: hidden;
    // margin-bottom: 160px;
    font-size: medium;
    letter-spacing: 0.02em;
    font-weight: 400;
    line-height: 2em;
    text-align: justify-all;
    max-width: 800px;
    min-width: 600px;
    min-height: 500px;
    padding: 60px 80px 200px;
    background-color: $lightColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px #0000005e;
    ul {
      ul {
        list-style-type: none;
        padding-bottom: 1.3em;
        text-indent: 25px each-line;
        li:before {
          content: "◆ ";
          font-size: xx-small;
          padding-right: 8px;
          color: $lastColor2;
        }
      }
      list-style-type: decimal;
    }
    h2 {
      background-color: $subColor3;
      width: 100%;
      padding: 12px 15px;
      text-indent: 5px each-line;
      margin: 0 0 13px;
      font-size: 23px;
    }
    a {
      color: $fontColor;
      margin: 0px 5px;
    }
    p {
      min-width: 90%;
      text-indent: 25px each-line;
      padding: 0 20px;
    }
    h3 {
      color: #010101;
      border-bottom: solid 3px #00a5b1;
    }
  }
}
@media (max-width: 600px) {
  .content {
    font-size: medium;
    letter-spacing: 0.01em;
    line-height: 2.2em;
    min-height: 500px;
    background-color: $lightColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px #0000005e;
    text-align: justify;
    width: 100%;
    margin: 0;
    padding: 60px 0 80px;
    word-break: break-word;
    overflow-wrap: normal;


    a {
      color: $fontColor;
      margin: 20px;
    }
    p {
      margin: 20px;
      color: $fontColor;
      text-indent: 25px each-line;
    }

    ul {
      margin: 15px 15px 15px 0;
      overflow: auto;
      ul {
        list-style-type: none;
        padding-bottom: 1.3em;
        li:before {
          content: "◆ ";
          font-size: xx-small;
          padding-right: 8px;
          color: $lastColor2;
        }
      }
      list-style-type: decimal;
    }
  }
}

.default {
  padding: 0;
  margin: 0;
  width: 100%;
}
