.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  .top-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .top-img {
    width: 80%;
    height: 600px;
    background-color: brown;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}