@import "../color";

header {
  .header-topbar {
    background-color: $headerColor;
    color: white;
    font-size: 20px;

    .header-topbar-home {
      color:  white;
      text-shadow: 0px 1px 1px #797a77;
      a {
        color: white;
        text-decoration: none;
      }
      a:visited {
        text-decoration: none;
        color: white;
      }
    }

    .header-topbar-u-aizu{
      color: white;
      a {
        text-decoration: none;
        color: white;
      }
      a:visited {
        text-decoration: none;
        color: white;
      }
    }
  }

  .header-secondbar {
    color: $fontColor;
    .header-secondbar-title{
      color: $fontColor;
      font-size: 20px;
    }

    .header-secondbar-links {
      font-size: 20px;
      color: $fontColor;

      .header-secondbar-link {
        a, a:visited {
          text-decoration: none;
          color: $fontColor;
        }
      }
    }
  }
  .header-breadcrumb {
    border-bottom: thin solid $lineColor;
    border-top: thin solid $lineColor;
    .breadcrumb-ul {
      .breadcrumb-li{
        a, a:visited {
          color: $fontColor;
          text-decoration: none;
        }
        span {
          a, a:visited {
            color: $fontColor;
            text-decoration: none;
          }
        }
      }
    }
  }
}
