@import "../color";

.header-mini {
  .header-mini-topbar {
    background-color: $headerColor;
    .header-mini-logo {
      border-style: solid;
      border-width: thin;
      border-color: white;
    }

    .header-mini-title {
      color: white;
      font-weight: bold;
    }
  }
  .header-mini-dropdown-menu {
    background-color: #58341A;
    opacity: 0.5;
    color: white;
    font-weight: bold;
    a {
      color: white;
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
      color: white;
    }
  }
}